name: Release Obsidian plugin

on:
  push:
    tags:
      - '*'

env:
  STORE_PATH: ''

jobs:
  build:
    name: Build
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - uses: actions/cache@v4
        with:
          path: ~/.bun/install/cache
          key: bun-cache
          restore-keys: bun-cache

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build project
        run: bun run build

      - name: Get release version
        id: version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}

      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          tag="${{ steps.version.outputs.VERSION }}"

          gh release create "${{ steps.version.outputs.VERSION }}" \
            --title="${{ steps.version.outputs.VERSION }}" \
            --draft \
            dist/main.js dist/manifest.json
